@CHARSET "UTF-8";

@font-face {
	font-family: "Neuropol";
	src: url(fonts/neuropol/neuropol.ttf) format("truetype");
}

a {
	text-decoration: none;
}

.active {
	color: grey;
	pointer-events: none;
	cursor: default;
}

.non-active {
	color: white;
}

body {
	background: black;
	color: white;
	font-family: arial narrow;
	max-width: 1500px;
	margin: 0px auto;
}

#header {
	height: 15%;
	text-align: center;
}

#header-logo {
	width: 200px;
	height: 200px;
	border: 2px solid white;
	background-color: black;
	font-family: neuropol;
	display: inline-block;
}

.company-name-header {
	font-size: 250%;
}

#header-logo-hr {
	width: 90%;
}

#menu-header {
	text-align: center;
	padding: 2% 0% 2% 0%
}

.menu-header-item {
	padding: 0% 1% 0% 1%
}

#content {
		height: 70%;
}

#content-table {
	margin:auto;
}

#content2 {
	height: 70%;
	padding: 1% 10% 1% 10%;
	background-color: rgb(244,243,243);
	color: black;
	margin: 0% 0% 2% 0%;
}

.content-second {
	text-align: center;
	background-color: rgb(244,243,243);
	color: black;
	padding: 4%;
	vertical-align: middle;
}

#footer-logo {
	display: table-cell;
	font-family: neuropol;
	vertical-align: middle;
	text-align: center;
	width: 40%;
}

#contact {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 40%;
}

@media only screen and (min-width: 1400px) {
	#content {
		padding: 0% 10% 0% 10%;
	}
	
	.content-first {
		width: 42%;
		background-image: url("../graphic/businessman-2056022_960_720.jpg");
		background-repeat: no-repeat;
		background-size: contain;
		background-position: right;
	}
	.content-second {
		width: 16%;
	}
	.content-third {
		width: 42%;
		background-image: url("../graphic/email-2056028_960_720.jpg");
		background-repeat: no-repeat;
		background-size: contain;
		background-position: left;
	}
}

@media only screen and (max-width: 1399px) {
	#content {
		padding: 0% 10% 0% 10%;
	}
	
	.content-first {
		width: 38%;
		background-image: url("../graphic/businessman-2056022_960_720.jpg");
		background-repeat: no-repeat;
		background-size: contain;
		background-position: right;
	}
	.content-second {
		width: 24%;
	}
	.content-third {
		width: 38%;
		background-image: url("../graphic/email-2056028_960_720.jpg");
		background-repeat: no-repeat;
		background-size: contain;
		background-position: left;
	}
}

@media only screen and (max-width: 1024px) {
	#content {
		padding: 0% 10% 0% 10%;
	}
	
	.content-first {
		width: 35%;
		background-image: url("../graphic/businessman-2056022_960_720.jpg");
		background-repeat: no-repeat;
		background-size: contain;
		background-position: right;
	}
	.content-second {
		width: 30%;
	}
	.content-third {
		width: 35%;
		background-image: url("../graphic/email-2056028_960_720.jpg");
		background-repeat: no-repeat;
		background-size: contain;
		background-position: left;
	}
}

@media only screen and (max-width: 1023px) {
	#content {
		padding: 0% 5% 0% 5%;
	}
	
	.content-first {
		width: 0%;
	}
	.content-second {
		width: 100%;
	}
	.content-third {
		width: 0%;
	}
	
	#footer-logo {
		display: none;
	}
	
	#contact {
		display: none;
	}
}

@media only screen and (max-width: 599px) {
	#content {
		padding: 0% 0% 0% 0%;
	}
	
}

#subcontent {
	margin: 2% 10% 2% 10%;
}

#footer {
	height: 15%;
	display: table;
	width: 100%;
}

.company-name-footer {
	font-size: 200%;
}

#menu-footer {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 20%;
}

#credits {
	text-align: center;
	padding: 2% 0% 2% 0%
}