@CHARSET "UTF-8";

@font-face {
    font-family: "Neuropol";
    src: url(fonts/neuropol/neuropol.ttf) format("truetype");
}

a {
	text-decoration: none;
}

.active {
	color: grey;
	pointer-events: none;
  	cursor: default;
}

.non-active {
	color: white;
}

body {
	background: black;
	color: white;
	font-family: arial narrow;
}

#header {
	height: 15%;
	text-align: center;
}

#header-logo {
	width: 200px;
	height: 200px;
	border: 2px solid white;
	background-color: black;
	font-family: neuropol;
	display: inline-block;
}

.company-name-header {
	font-size: 250%;
}

#header-logo-hr {
	width: 90%;
}

#menu-header {
	text-align: center;
	padding: 2% 0% 2% 0%
}

.menu-header-item {
	padding: 0% 1% 0% 1%
}

#content {
	height: 70%;
	padding: 0% 10% 0% 10%;
}

#content2 {
	height: 70%;
	padding: 1% 10% 2% 10%;
	background-color: grey;
	margin: 0% 0% 2% 0%; 
}

.content-first {
	width: 35%;
	background-image: url("../graphic/businessman-2056022_960_720.jpg");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: right;
}

.content-second {
	width: 30%;
	text-align:center;
	background-color: white;
	color: black;
	padding: 4%;
	vertical-align: middle;
	
}

.content-third {
	width: 35%;
	background-image: url("../graphic/email-2056028_960_720.jpg");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: left;
}

#subcontent {
	margin: 2% 10% 2% 10%;
}

#footer {
	height: 15%;
	display: table;
	width: 100%;
}

#footer-logo {
	display: table-cell;
	font-family: neuropol;
	vertical-align: middle;
	text-align: center;
	width: 40%;
}

.company-name-footer {
	font-size: 200%;	
}

#menu-footer {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 20%;
}

#contact {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 40%;
}

#credits {
	text-align: center;
	padding: 2% 0% 2% 0%
}